@font-face {
  font-family: tvFontNormal;
  src: url('./fonts/EuroStyleNormal.ttf');
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: tvFontNormal;
  background: url('../imgs/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

header {
  font-weight: 900;
  background-color: #ed1b24;
  color: whitesmoke;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.container {
  background-color: rgba(82, 83, 85,0.9);
  border-radius: 5px;

}

.card-body {
  overflow: auto;
  max-height: 12.5rem;
}

ul {
  list-style-type: none;
}

.modal-header {
  background-color: #ed1b24;
}
